body,h1,h2,h3,p,quote,small,form,input,ul,li,ol,label{
    margin:0px;
    padding:0px;
}

body{
    color:#000;
    font-size:13px;
    background: url(../Dark-Wood-Texture.jpg) #282828;
    font-family:Arial, Helvetica, sans-serif;
}

input {
    font-size: 20px;
}

.white {
    color: #FFF;
}

.clear{
    clear:both;
}

#left-container{
    width:500px;
    margin: 10px auto;
}
#right-container{
    width:900px;
    margin:10px auto;
}


#form-container{
    background-color:#E3CFCF;
    padding:15px;
    
    -moz-border-radius:12px;
    -khtml-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius:12px;
}

td{
    white-space:nowrap;
}

a, a:visited {
    color:#00BBFF;
    text-decoration:none;
    outline:none;
}

a:hover{
    text-decoration:underline;
}

h1{
    color:#777777;
    font-size:22px;
    font-weight:normal;
    text-transform:uppercase;
    margin-bottom:5px;
}

h2{
    font-weight:normal;
    font-size:10px;
    
    text-transform:uppercase;
    
    color:#aaaaaa;
    margin-bottom:15px;
    
    border-bottom:1px solid #eeeeee;
    margin-bottom:15px;
    padding-bottom:10px;
}

label{
    text-transform:uppercase;
    font-size:20px;
    font-family:Tahoma,Arial,Sans-serif;
}

td > button{
    text-indent:8px;
}

.error{
    background-color:#AB0000;
    color:white;
    font-size:10px;
    font-weight:bold;
    margin-top:10px;
    padding:10px;
    text-transform:uppercase;
    width:240px;
}

#loading{
    position:relative;
    bottom:9px;
    visibility:hidden;
}

